.sidenav {
  height:100%;
  width:150px;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: black;
}

.sidenav a {
  padding:6px 8px 6px 16px;
  text-decoration: none;
  font-size:25px;
  color: #818181;
  display:block;
}

.sidenav a:hover{
  color:#f1f1f1;
}	

.main{
  margin-left:150px;
}

body {
  margin: 0px;
}

/* Navbar */

.navbar {
    background-color: rgb(73, 73, 73);

    height: 70px; 

    left: 0;

    width: 100%;
    border-bottom: 1px solid blue;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    color: red;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: red;
}

#navbar-primary .navbar-nav a { 
    color: white;
 }

 #navbar-primary .navbar-nav a:hover { 
    color: red;
 }

/* Links inside the navbar */
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

footer{
  display:flex;
  
  background-color: rgb(73, 73, 73);
  position: fixed;
  
  bottom: 0;
  left: 0;
  right: 0;
  
  height: 50px;
   
  border-top: 1px rgb(173, 74, 74);
  justify-content:center;
  align-items:center;
}

footer a{
  color: white;
  margin-left: 150px;
}