{% extends 'base.html' %}

{% block sidebar %}
	<li >
	  <a class="nav-link" style="color:white;">	<H4>About me</H4></a>
	</li>
{% endblock sidebar %}

{% block content %}

	<H4 style="margin-top:15px; margin-bottom:15px;">Personal</H4>
	<table>
		<tbody>
			<tr>
				<td width="20%"><b>Name</b></td>
				<td width="80%">Till Sachau</td>
			</tr>
			<tr>
				<td ><b>Languages</b></td>
				<td >German, English</td>
			</tr>
			<tr>
				<td ><b>Contact</b></td>
				<td ><a href="mailto:alterfalter@duck.com">email</a></td>
			</tr>
			
		</tbody>
	</table>

	<H4 style="margin-top:15px; margin-bottom:15px;">Job</H4>
	<table>
		<tbody>
			<tr>
				<td width="20%"><b>Since 10/22</b></td>
				<td width="80%">Sabbatical for further professional development
				<ul> 
					<li>reorientation towards data science</li>
				</ul>
				</td>
			</tr>
			<tr>
				<td><b>2015-2022</b></td>
				<td>Academic Council
					<ul>
						<li>Institute of Geosciences, University of Tübingen</li>
						<li>Research and devel:
							<ul>
								<li>Continental inland ice</li>
								<li>Self-organised Criticality</li>
								<li>Hydrodynamics and Fracture propagation</li>
								<li>Development / deployment of finite element software on High Performance Clusters</li>
							</ul>
						</li>
						<li>Cooperation with researchers from Germany, China, Scotland, England, Spain, Australa and others</li>
						<li>Teaching</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><b>2014-2015</b></td>
				<td>Developer and structural geologist, Research associate
					<ul>
						<li>Institute of Geosciences, University of Tübingen</li>
						<li>Project FRACS</li>
						<li>Research and devel:
							<ul>
								<li>Fracture propagation</li>
								<li>Hydrodynamics</li>
								<li>Development of discrete-element models (lattice-particle)</li>
								<li>Development of hydrodynamic finite difference models</li>
							</ul>
						</li>
						<li>FRACS was a collaboration between the German petroleum industry and several technical Universities</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><b>2006-2013</b></td>
				<td>Developer and structural geologist, Research associate
					<ul>
						<li>Institute of Geosciences, University of Mainz</li>
						<li>Project RIFT-LINK</li>
						<li>Research:
							<ul>
								<li>Fracture propagation</li>
								<li>Development of discrete-element models (lattice-particle, dynamic, brittle failure)</li> 
								<li>Structural geology and field work in the East African Rift System, Uganda and Ethiopia</li>
								<li>Presentation of results</li>
								<li>Writing and submitting applications</li>
							</ul>
						</li>
						<li>RIFT-LINK was a collaboration between German and Ugandan universities to study plate tectonic dynamics in the East African Rift System</li>
					</ul>
				</td>
			</tr>			
		</tbody>
	</table>

{% endblock content %}
