{% extends 'base.html' %}

{% block sidebar %}
	<li >
	  <a class="nav-link" style="color:white;"><H4>Intro</H4></a>
	</li>
{% endblock sidebar %}

{% block content %}

<p>I am a programmer and geoscientist with many years of experience in scientific and general programming. 
Currently I am focusing on Machine Learning, Deep Learning and Data Science.</p>

<p>If you are only here to learn more about me, look no further: <a class="link" href="about">about me</a>.</p>

<div class="alert">
	<b>Please note: This page is under revision. Limited functionality must be expected!</b>
</div> 

<h2>Purpose of this site</h2>

<p>
		<ul>
			<li>document a few of my past and present software projects</li>
			<li>serve as my personal notebook</li>
			<li>keep me fit in the server space.</li>
		</ul>
</p>

<h2>Present goals for the site</h2>

Step-by-step, this site aims to evolve as follows:

<ul>
	<li>We all know that the web is to bloated... 
		So this site aims to be as simple as possible within its purpose.</li>
    <li>Constructed mainly with Django / Python only.</li>
    <li>Enable browsing on all form factors. 
		(Currently only large screens are supported.)</li>
    <li>Include a dashboard with relevant crypto currency data.</li>
    <li>Use the blog as a personal notebook.</li>
</ul>

<p>"Can we build it? Yes we can."</p>

{% endblock content %}
