{% extends 'base.html' %}

{% block sidebar %}
	<li >
	  <a class="nav-link" style="color:white;">	<H4>Hyfrac</H4></a>
	</li>
{% endblock sidebar %}

{% block content %}

Just as my other projects, also the code of 'hyfrac' is available on <a href="https://gitlab.com/perpff/hyfrac">gitlab</a>. Check it out if you are interested!


{% endblock content %}
