{% extends 'base.html' %}

{% block sidebar %}
	<li >
	  <a class="nav-link" style="color:white;">	<H4>Melange</H4></a>
	</li>
{% endblock sidebar %}

{% block content %}

The project can be found on <a href="https://gitlab.com/perpff/melange">gitlab</a>.

{% endblock content %}
