{% extends 'base.html' %}

{% block sidebar %}
<li>
    <a class="nav-link" style="color:white;" href="project_btc_timeseries_dashboard">Dashboard</a>
</li>

<li>
    <a class="nav-link" style="color:white;" href="project_btc_timeseries_analysis">Analysis</a>
</li>

<li >
    <a class="nav-link" style="color:white;" href="project_btc_timeseries"><b>Time series</b></a>
</li>
    <li class="nav-item">
        <hr>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#some-bitcoin-history">Some Bitcoin history</a>
    </li>
	<li class="nav-item">
	  <a class="nav-link" href="#data-acquisition-and-data-cleansing">Data aquisition</a>
	</li>
    <li class="nav-item">
        <a class="nav-link" href="#possible-methods">Methods</a>
    </li>
    <li>
        <a class="nav-link" href="#results">Results</a>
    </li>
    <li>
        <a class="nav-link" href="#final-joke">Final joke</a>
    </li>
{% endblock sidebar %}


{% block content %}
{% load static %}
<h1 id="time-series-prediction-of-bitcoin-price-based-on-historic-altcoin-rates">
	Time series: prediction of Bitcoin-price
</h1>

<hr/>

This is a fun project, that I am still toying with. Its main purpose is of course to improve my knowledge about the analysis and prediction of time series. 

<br>

<hr/>

<h2 id="some-bitcoin-history">Some Bitcoin history</h2>

We do not want to digg to deeply into the history and the technics behind Bitcoin (or <u><i>btc</i></u>, how it is abbreviated). 
This just wouldn't lead us any closer to our aim of the prediction of tomorrows rate...<br>

<br>

But here some basics we should mention:

<ul>
    <li>btc was the <ul>first</ul> de-centralized crypto currency, invented 2009</li>
    <li>today there are literally <i>thousands</i> of crypto currencies around, which may or may not be technically different to other coins. </li>
    <li>based on block chain technology</li>
    <li>historic high:
        <ul>
            <li>on 2021-11-08</li>
            <li>with 67510.92 $</li>
        </ul>
    </li>
    <li>currently ~ 17.000 $</li>
</ul>


$$x=\frac{-b+\sqrt{b^2-4ac}}{2a}$$

<h2 id="recent-important-events">Recent important events</h2>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
				<div class="item"><img class="img-fluid-size-adapted" src="{% static 'images/03158dba921db5acff789d085ce0a2b9.png' %}" class="rounded"></div>
                <figcaption-size-adapted>FTX founder Sam Bankman-Fried, accused of committing one of the biggest financial frauds in US history, was arrested in the Bahamas last week.</figcaption-size-adapted>
			</div>
		</div>
	</div>
</div>

<h2 id="terminology">Terminology</h2>
<ul>
    <li>‘Bitcoin’ = Bitcoin</li>
    <li>‘Altcoin’ = crypto money, but not bitcoin</li>
    <li>‘Market Capitalisation’: The total value (in $) of all available
        currency units</li>
    <li>‘Volume’: the traded amount (in $) per day</li>
    <li>‘Open’: the price at at fixed daily time (in $)</li>
</ul>

<h2 id="status-quo-bitcoin">Status quo Bitcoin</h2>
<pre><code>![](attachment/71b0079a64f22413e9c3afbaf0a3c7bc.png)</code></pre>

<h2 id="status-quo-alt-coins">Status quo Alt coins</h2>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/eba2881f63015d2d6bfd3f41fef8a83c.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="compare-normalized-rates">Compare normalized rates</h2>
<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
				<div class="item"><img class="img-fluid-size-adapted" src="{% static 'images/8a1af317f1effae7055d96463db9e406.png' %}" class="rounded"></div>
                <figcaption-size-adapted>Normalized rates (for better comparison) for bitcoin, litecoin and
                    monero over past 5 years. Notice subtle differences in the curve
                    progression.</figcaption-size-adapted>
			</div>
		</div>
	</div>
</div>

<h2 id="correlation-matrix">Correlation matrix</h2>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column">
                <div class="item">
                    <img class="img-fluid-size-adapted"  src="{% static 'images/ae3a58eef3228a59c130301b6a2398bb.png' %}">
                </div>
            </div>             
        </div>
    </div>
</div>

<h2 id="basic-idea-of-the-modeling">Basic idea of the modeling</h2>

<ul>
    <li>Predicting time series based on them selves is lame</li>
    <li>Why?
        <ul>
            <li>If the time series isn’t inherently periodic, we will not be able to
                gain deeper insights</li>
            <li>We need more indicators, which are (at least partly) independent of
                the predicted data</li>
        </ul>
    </li>
    <li>What are the minimum expectations?
        <ul>
            <li>model must be able to predict the <em>trend</em> of the bitcoin
                rate</li>
            <li>not so much the <em>exact</em> price</li>
        </ul>
    </li>
    <li>Make prediction without using bitcoin data itself
        <ul>
            <li>The Bitcoin is known to be relatively stable</li>
            <li>Altcoins are much more dynamic, and may reflect changes sooner than
                Bitcoin</li>
        </ul>
    </li>
</ul>

<h2 id="data-acquisition-and-data-cleansing">Data acquisition and data cleansing</h2>

<ul>
    <li>Some specialized websites,
        <ul>
            <li>most charge for historic data</li>
            <li>or are not up-to-date</li>
        </ul>
    </li>
    <li>Recommendation <strong>coinindex</strong>:
        <ul>
            <li>https://coincodex.com/</li>
            <li>https://coincodex.com/crypto/celo/historical-data/</li>
        </ul>
    </li>
</ul>

<h2 id="original-table-dataframe">Original table / dataframe</h2>
<div class="sourceCode" id="cb2" >
    <pre class="sourceCode python"><code class="sourceCode python"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a>df_ltc <span class="op">=</span> pd.read_csv(<span class="st">&#39;litecoin_2017-12-22_2022-12-21.csv&#39;</span>)</span>
    <span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>df_ltc.Date<span class="op">=</span>pd.to_datetime(df_ltc.Date)</span>
    <span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a></span>
    <span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>df_ltc.head()</span></code></pre>
</div>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/917a8b591818dc178cc188f038bb56f7.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="input-parameter-alt-coin-data">Input parameter: alt coin
    data</h2>
<ul>
    <li>Parameters = Alt coins</li>
</ul>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/0c4a401af8a8440ac0b40500df8dc56d.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="final-shape-of-training-parameters">Final shape of training
    parameters</h2>
<h4 id="variable-definitions">Variable definitions</h4>
<ul>
    <li><strong>Y</strong> = Target = daily normalized bitcoin price</li>
    <li><strong>X</strong> = Parameters = normalized altcoin price in
        batches of 50 days with 18 parameters each</li>
</ul>
<h4 id="input-format">Input format</h4>
<ul>
    <li><span
            class="math inline"><em>X</em><sub>1 − 18</sub><sup><em>D</em>1</sup> + <em>X</em><sub>1 − 18</sub><sup><em>D</em>2</sup> + ... + <em>X</em><sub>1 − 18</sub><sup><em>D</em>50</sup></span>
        predicts <span class="math inline"><em>Y</em><sup><em>D</em>51</sup></span></li>
    <li><span
            class="math inline"><em>X</em><sub>1 − 18</sub><sup><em>D</em>2</sup> + <em>X</em><sub>1 − 18</sub><sup><em>D</em>3</sup> + ... + <em>X</em><sub>1 − 18</sub><sup><em>D</em>51</sup></span>
        predicts <span class="math inline"><em>Y</em><sup><em>D</em>52</sup></span></li>
    <li><span
            class="math inline"><em>X</em><sub>1 − 18</sub><sup><em>D</em>3</sup> + <em>X</em><sub>1 − 18</sub><sup><em>D</em>4</sup> + ... + <em>X</em><sub>1 − 18</sub><sup><em>D</em>52</sup></span>
        predicts <span class="math inline"><em>Y</em><sup><em>D</em>53</sup></span></li>
</ul>
<h4 id="advantage">Advantage</h4>
<ul>
    <li>Format enables 1-day predictions based on the past 50 days of
        alt-coin (NOT bitcoin) data</li>
    <li>it also enables a decent validation during model-fitting</li>
</ul>

<h2 id="final-shape-of-training-parameters-1">Final shape of training
    parameters</h2>
<h4 id="variable-definitions-1">Variable definitions</h4>
<ul>
    <li><strong>Y</strong> = Target = daily normalized bitcoin price</li>
    <li><strong>X</strong> = Parameters = normalized altcoin price in
        batches of 50 days with 18 parameters each</li>
</ul>
<h4 id="generation-of-input-data">Generation of input data</h4>
<div class="sourceCode" id="cb3">
    <pre
        class="sourceCode python"><code class="sourceCode python"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a>test_size <span class="op">=</span> <span class="bu">int</span>(<span class="fl">.3</span> <span class="op">*</span> alt_coins.shape[<span class="dv">0</span>])</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>lookback <span class="op">=</span> <span class="dv">50</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a>X <span class="op">=</span> []</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a>y <span class="op">=</span> []</span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a><span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(<span class="bu">len</span>(alt_coins)<span class="op">-</span>lookback<span class="op">-</span><span class="dv">1</span>):</span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true" tabindex="-1"></a>    t<span class="op">=</span>[]</span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true" tabindex="-1"></a>    <span class="cf">for</span> j <span class="kw">in</span> <span class="bu">range</span>(<span class="dv">0</span>,lookback):</span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true" tabindex="-1"></a>        t.append(alt_coins[ i<span class="op">+</span>j, :])</span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true" tabindex="-1"></a>    X.append(t)</span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true" tabindex="-1"></a>    y.append(alt_coins[i <span class="op">+</span> lookback, <span class="dv">0</span>]) <span class="co"># &lt;-- only the opening price</span></span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true" tabindex="-1"></a><span class="co">#print(np.array(X).shape, np.array(y).shape)</span></span>
<span id="cb3-16"><a href="#cb3-16" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-17"><a href="#cb3-17" aria-hidden="true" tabindex="-1"></a>X, y <span class="op">=</span> np.array(X), np.array(y)</span>
<span id="cb3-18"><a href="#cb3-18" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-19"><a href="#cb3-19" aria-hidden="true" tabindex="-1"></a>X_test <span class="op">=</span> X[ <span class="op">-</span> test_size : ]</span>
<span id="cb3-20"><a href="#cb3-20" aria-hidden="true" tabindex="-1"></a>y_test <span class="op">=</span> y[ <span class="op">-</span> test_size : ]</span>
<span id="cb3-21"><a href="#cb3-21" aria-hidden="true" tabindex="-1"></a>dates_test <span class="op">=</span> dates[ <span class="op">-</span> test_size : ]</span>
<span id="cb3-22"><a href="#cb3-22" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-23"><a href="#cb3-23" aria-hidden="true" tabindex="-1"></a>X <span class="op">=</span> X[ : <span class="op">-</span> test_size ]</span>
<span id="cb3-24"><a href="#cb3-24" aria-hidden="true" tabindex="-1"></a>y <span class="op">=</span> y[ : <span class="op">-</span> test_size ]</span></code></pre>
</div>

<h2 id="methods-and-results">Methods and results</h2>
<h2 id="possible-methods">Possible methods</h2>
<p>We have a multivariate time series prediction. Possible methods are:</p>
<ul>
    <li>RNN (Recurrent Neural Networks)
        <ul>
            <li>almost no long term memory</li>
        </ul>
    </li>
    <li>LSTM (Long Short Term Memory Neural Network)
        <ul>
            <li>much better long term memory</li>
        </ul>
    </li>
    <li><del>LSTM with peephole connections</del>
        <ul>
            <li>even better long term memory</li>
        </ul>
    </li>
    <li><del>GRU (Gated Recurrent Units Network)</del>
        <ul>
            <li>simplified LSTM, but with good results</li>
        </ul>
    </li>
    <li><del>CNN (Convolutional Neural Networks)</del>
        <ul>
            <li>shortens sequences –&gt; might improve memory effects</li>
        </ul>
    </li>
    <li><del>WaveNet</del>
        <ul>
            <li>stacked convolutional layers</li>
            <li>
                <h2 id="lower-layers-display-short-term-features-upper-layers-long-term-features">
                    lower layers display short term features, upper layers long term features</h2>
            </li>
        </ul>
    </li>
</ul>

<h2 id="results">Results</h2>

<h2 id="evaluation-of-results">Evaluation of results</h2>
<ul>
    <li>beside the usual (loss, error function, validation data)
        <ul>
            <li>rms, mse etc probably <em>not</em> very useful</li>
            <li>show absolute error - not trends</li>
        </ul>
    </li>
    <li>we need ways to express the <em>usefulness</em> of the results</li>
    <li>two functions for that purpose:
        <ul>
            <li>a fictitious investment based on the prediction
                <ul>
                    <li><strong>advantage</strong>: means something</li>
                    <li><strong>disadvantage</strong>: depends on investment strategy</li>
                </ul>
            </li>
            <li>compare predicted trend with actual trend
                <ul>
                    <li><strong>advantage</strong>: easy and straightforward</li>
                    <li><strong>disadvantage</strong>: does not really tell if money can be
                        made</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h2 id="evaluation-code-1-trend-accuracy">Evaluation code 1: Trend
    accuracy</h2>
<div class="sourceCode" id="cb4">
    <pre
        class="sourceCode python"><code class="sourceCode python"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> correctness_of_predictions():</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> predicted_values</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> y_test</span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>    correct <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a>    <span class="cf">for</span> t <span class="kw">in</span> <span class="bu">range</span> (predicted_values.shape[<span class="dv">0</span>] <span class="op">-</span> <span class="dv">2</span>):</span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a>        today_predicted <span class="op">=</span> predicted_values[t].item()</span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a>        tomorrow_predicted <span class="op">=</span> predicted_values[t <span class="op">+</span> <span class="dv">1</span>].item()</span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a>        dp <span class="op">=</span> tomorrow_predicted  <span class="op">-</span> today_predicted</span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a>        today_actual <span class="op">=</span> y_test[t].item()</span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true" tabindex="-1"></a>        tomorrow_actual <span class="op">=</span> y_test[t <span class="op">+</span> <span class="dv">1</span>].item()</span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true" tabindex="-1"></a>        da <span class="op">=</span> tomorrow_actual <span class="op">-</span> today_actual</span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-17"><a href="#cb4-17" aria-hidden="true" tabindex="-1"></a>        <span class="cf">if</span> np.sign(da) <span class="op">==</span> np.sign(dp):</span>
<span id="cb4-18"><a href="#cb4-18" aria-hidden="true" tabindex="-1"></a>            correct <span class="op">=</span> correct <span class="op">+</span> <span class="dv">1</span></span>
<span id="cb4-19"><a href="#cb4-19" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-20"><a href="#cb4-20" aria-hidden="true" tabindex="-1"></a>    <span class="cf">return</span> (correct, predicted_values.shape[<span class="dv">0</span>])</span>
<span id="cb4-21"><a href="#cb4-21" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-22"><a href="#cb4-22" aria-hidden="true" tabindex="-1"></a>correct_predictions, total_predictions <span class="op">=</span> correctness_of_predictions()</span></code></pre>
</div>

<h2 id="evaluation-code-2-return-of-investment-roi">Evaluation code 2:
    Return of Investment (ROI)</h2>
<div class="sourceCode" id="cb5">
    <pre
        class="sourceCode python"><code class="sourceCode python"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> calc_profit(fiat <span class="op">=</span> <span class="fl">0.</span>, btc <span class="op">=</span> <span class="fl">1.</span>):</span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> unscale_price</span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> add_min_price</span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> predicted_values</span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a>    <span class="kw">global</span> y_test</span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a>    <span class="co"># we always buy or sell the relative change negative fiat (debts) are aloud</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a>    max_t <span class="op">=</span> predicted_values.shape[<span class="dv">0</span>]</span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a>    <span class="cf">for</span> t <span class="kw">in</span> <span class="bu">range</span> (max_t <span class="op">-</span> <span class="dv">2</span>):</span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-11"><a href="#cb5-11" aria-hidden="true" tabindex="-1"></a>        today_predicted <span class="op">=</span> predicted_values[t].item()</span>
<span id="cb5-12"><a href="#cb5-12" aria-hidden="true" tabindex="-1"></a>        tomorrow_predicted <span class="op">=</span> predicted_values[t <span class="op">+</span> <span class="dv">1</span>].item()</span>
<span id="cb5-13"><a href="#cb5-13" aria-hidden="true" tabindex="-1"></a>        today_actual <span class="op">=</span> y_test[t]</span>
<span id="cb5-14"><a href="#cb5-14" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-15"><a href="#cb5-15" aria-hidden="true" tabindex="-1"></a>        predicted_relative_change <span class="op">=</span> (tomorrow_predicted <span class="op">-</span> today_predicted) <span class="op">/</span> today_predicted</span>
<span id="cb5-16"><a href="#cb5-16" aria-hidden="true" tabindex="-1"></a>        delta_btc <span class="op">=</span> btc <span class="op">*</span> predicted_relative_change</span>
<span id="cb5-17"><a href="#cb5-17" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-18"><a href="#cb5-18" aria-hidden="true" tabindex="-1"></a>        btc <span class="op">+=</span> delta_btc</span>
<span id="cb5-19"><a href="#cb5-19" aria-hidden="true" tabindex="-1"></a>        btc_price_today <span class="op">=</span> today_actual <span class="op">*</span> unscale_price <span class="op">+</span> add_min_price</span>
<span id="cb5-20"><a href="#cb5-20" aria-hidden="true" tabindex="-1"></a>        fiat <span class="op">-=</span> delta_btc <span class="op">*</span> btc_price_today</span>
<span id="cb5-21"><a href="#cb5-21" aria-hidden="true" tabindex="-1"></a>    <span class="cf">return</span> (fiat, btc, btc_price_today)</span>
<span id="cb5-22"><a href="#cb5-22" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-23"><a href="#cb5-23" aria-hidden="true" tabindex="-1"></a>fiat_assets, btc_assets, todays_exchange_rate <span class="op">=</span> calc_profit()</span></code></pre>
</div>

<h2 id="lstm-code">LSTM code</h2>
<div class="sourceCode" id="cb6">
    <pre
        class="sourceCode python"><code class="sourceCode python"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a>model <span class="op">=</span> Sequential()</span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>model.add( LSTM( units<span class="op">=</span><span class="dv">30</span>, return_sequences<span class="op">=</span> <span class="va">True</span>, input_shape<span class="op">=</span>(X.shape[<span class="dv">1</span>], X.shape[<span class="dv">2</span>])) )</span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>model.add( LSTM( units<span class="op">=</span><span class="dv">50</span>, return_sequences<span class="op">=</span><span class="va">True</span>) )</span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>model.add( LSTM( units<span class="op">=</span><span class="dv">30</span>) )</span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a>model.add( Dense( units<span class="op">=</span><span class="dv">1</span> ) )</span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true" tabindex="-1"></a>model.summary()</span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-8"><a href="#cb6-8" aria-hidden="true" tabindex="-1"></a>model.<span class="bu">compile</span>(optimizer<span class="op">=</span><span class="st">&#39;adam&#39;</span>, loss<span class="op">=</span><span class="st">&#39;mean_squared_error&#39;</span>, metrics<span class="op">=</span>r2_score )</span>
<span id="cb6-9"><a href="#cb6-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-10"><a href="#cb6-10" aria-hidden="true" tabindex="-1"></a>history <span class="op">=</span> model.fit( X, y, epochs<span class="op">=</span><span class="dv">100</span>, batch_size<span class="op">=</span><span class="dv">32</span>, validation_data<span class="op">=</span>(X_test, y_test) )</span>
<span id="cb6-11"><a href="#cb6-11" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-12"><a href="#cb6-12" aria-hidden="true" tabindex="-1"></a><span class="co"># %% --- predict</span></span>
<span id="cb6-13"><a href="#cb6-13" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-14"><a href="#cb6-14" aria-hidden="true" tabindex="-1"></a>predicted_values <span class="op">=</span> model.predict(X_test)</span></code></pre>
</div>

<h2 id="lstm-model-1">LSTM model 1</h2>
<p>model.add( LSTM( <strong>units=50</strong>, return_sequences=True)
    )</p>
<p>Epochs = 100</p>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/08271b0afa69a433c568267c78e5c2fa.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="lstm-model-2">LSTM model 2</h2>
<p>2 * model.add( LSTM( <strong>units=50</strong>,
    return_sequences=True) ), additional dense-layer (50)</p>
<p>Epochs = 100</p>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/f9a07a9c45c728184128bfbd057dd7e0.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="lstm-2-with-dropout">LSTM ==2 with dropout==</h2>

<p>2 * model.add( LSTM( <strong>units=50</strong>, return_sequences=True) ), additional dense-layer (50)</p>
<p>Epochs = 100</p>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/f0824da08213fbc1dad1165c1f69982d.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="lstm-1-evaluation-loss-function">LSTM 1 evaluation: Loss function</h2>
    
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/5e605ed8e1efc34cd991d2f965bcbcc7.png' %}" />
                <figcaption-size-adapted>~0.00025 at epoch 50</figcaption-size-adapted>
            </div>
        </div>
    </div>
</div>

<h2 id="lstm-1-evaluation-trend-accuracy">LSTM 1 evaluation: trend
    accuracy</h2>
<ul>
    <li>The model predicted the curve progression correctly in ==58.5
        percent==.</li>
</ul>

<h2 id="lstm-1-evaluation-roi">LSTM 1 evaluation: ROI</h2>
<p><strong>Before</strong>: - We start with 0 $ + 1 btc worth 35527.24 -
    <strong>Total</strong>: 35527.24
</p>
<p><strong>After</strong>: - Dollar assets: 11338.48 - Bitcoin assets in
    btc: 0.64 - Bitcoin assets in $: 16107.97 - <strong>Total</strong>:
    27446.445837600535 - <strong>Change</strong>: ==-8080.789658199639==</p>

<h2 id="lstm-2-evaluation-trend-accuracy">LSTM 2 evaluation: trend
    accuracy</h2>
<ul>
    <li>The model predicted the curve progression correctly in ==61.06
        percent==.</li>
</ul>

<h2 id="lstm-2-evaluation-roi">LSTM 2 evaluation: ROI</h2>
<p><strong>Before</strong>: - We start with 0 $ + 1 btc worth 35527.24 -
    <strong>Total</strong>: 35527.24
</p>
<p><strong>After</strong>: - Dollar assets: 8161.85 - Bitcoin assets:
    0.65 - Bitcoin assets in $: 16663.38 - <strong>Total</strong>: 24825.24
    - <strong>Change</strong>: ==-10701.99==</p>

<h2 id="lstm-2-with-dropout-evaluation-trend-accuracy">LSTM ==2 with
    dropout== evaluation: trend accuracy</h2>
<ul>
    <li>The model predicted the curve progression correctly in ==51.74
        percent==.</li>
</ul>

<h2 id="lstm-2-with-dropout-evaluation-roi">LSTM ==2 with dropout==
    evaluation: ROI</h2>
<p><strong>Before</strong>: - We start with 0 $ + 1 btc worth 35527.24 -
    <strong>Total</strong>: 35527.24
</p>
<p><strong>After</strong>:</p>
<ul>
    <li>Dollar assets: 1780.18</li>
    <li>Bitcoin assets: 0.70</li>
    <li>Bitcoin assets in $: 17707.42</li>
    <li><strong>Total</strong>: 19487.60</li>
    <li><strong>Change</strong>: ==-16039.63==</li>
</ul>

<h2 id="lstm-2-with-dropout-evaluation-r2-score">LSTM ==2 with dropout==evaluation: R2-score</h2>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/00bbc51cc15c11c6941517a30b673564.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="rnn">RNN</h2>

<p>Settings as in LSTM 2 with dropouts</p>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/5ce028bf57462e738b7d1f38c5347f86.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="rnn-evaluation-r2-score">RNN-evaluation: R2-score</h2>

<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/58b8756ba388be27f55853432e62312f.png' %}" />
            </div>
        </div>
    </div>
</div>

<h2 id="rnn-evaluation-trend-accuracy">RNN evaluation: trend accuracy</h2>

<ul>
    <li>The model predicted the curve progression correctly in ==52.65
        percent==.</li>
</ul>

<h2 id="rnn-evaluation-roi">RNN evaluation: ROI</h2>
<p><strong>Before</strong>: - We start with 0 $ + 1 btc worth 35527.24 -
    <strong>Total</strong>: 35527.24
</p>
<p><strong>After</strong>: - Dollar assets: -7396.43 - Bitcoin assets:
    0.67 - Bitcoin assets in $: 17046.09 - <strong>Total</strong>: 9649.65 -
    <strong>Change</strong>: ==-25877.57==
</p>

<h2 id="conclusion-1-evaluation-functions">Conclusion (1): Evaluation
    functions</h2>
<ul>
    <li>definitely need improvements
        <ul>
            <li>ROI - function uses a bad investment model</li>
            <li>trend - function doesn’t care about value of gradients (just
                signs)</li>
        </ul>
    </li>
</ul>

<h2 id="conclusion-2-possible-improvements-for-predictions-and-nn-methods">Conclusion (2): Possible improvements for predictions and NN-methods</h2>
<ul>
    <li>Trend predictions surprisingly realistic, though still with large
        errors</li>
    <li>Long term memory seems to matter:
        <ul>
            <li>need to add peephole connections to LSTM Networks</li>
            <li>should try Convolutional layers</li>
        </ul>
    </li>
    <li>Increase granularity
        <ul>
            <li>predictions with more details scored much better..</li>
        </ul>
    </li>
    <li>Change the ‘lookback’ parameter
        <ul>
            <li>use more than 50 prev. timesteps for predictions</li>
        </ul>
    </li>
    <li>include other external factors:
        <ul>
            <li>eg gold price</li>
            <li>energy prices</li>
            <li>some kind of social / political quantitative indicator? does this
                exist?</li>
        </ul>
    </li>
</ul>

<h2 id="final-joke">The final joke</h2>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column">
                <img class="img-fluid-size-adapted" src="{% static 'images/a03d7ce7617783ab91f07423f2493df1.png' %}" />
            </div>
        </div>
    </div>
</div>

{% endblock content %}
