{% extends 'base.html' %}

{% block sidebar %}

    <li>
        <a class="nav-link" style="color:white;" href="project_btc_timeseries_dashboard">Dashboard</a>
    </li>

    <li>
        <a class="nav-link" style="color:white;" href="project_btc_timeseries_analysis"><b>Analysis</b></a>
    </li>

    <li >
        <a class="nav-link" style="color:white;" href="project_btc_timeseries">Time series</a>
    </li>

    <li class="nav-item">
        <hr>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#daily_exchenge_rates">Exchange rates</a>
    </li>
{% endblock sidebar %}

{% block content %}

    {% load static %}

    <H1>Analysis of the bitcoin time series</H1>
    
    <div class="container", style="margin-bottom: 20px; margin-top: 25px; height: auto;">
            <div class="col d-flex justify-content-center">
                
                    {% autoescape off %}
                        {{ chart }}
                    {% endautoescape %}
                
            </div>
    </div>



{% endblock content %}