<!doctype html>


{% load static %}


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Till + Bootstrap">
	<meta name="generator" content="Hugo 0.108.0">

	<title>Tills site</title>

	<link href="{% static 'bootstrap-css/bootstrap.min.css'%}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="style.css" rel="stylesheet">

	<style>
		#main {
			margin-top: 75px;
		}
	</style>

</head>

<body>



	<div class="row">

		<div class="col">

			<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

				<symbol id="home" viewBox="0 0 16 16">
					<path
						d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
				</symbol>
			</svg>

			<div class="b-example-divider b-example-vr"></div>

			<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom d-flex flex-nowrap"
				style="top:0px; height:70px; right:0px; left:0px; position:fixed;">
				<div class="container-fluid">

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>


					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mb-2 mb-sm-0 d-flex navbar-nav ms-auto flex-nowrap">
							<!-- Blaupause für dropdown menu, simply uncomment -->
							<!-- <li class="nav-item dropdown"> -->
							<!-- <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a> -->
							<!-- <ul class="dropdown-menu ms-auto"> -->
							<!-- <li><a class="dropdown-item" href="#">Home</a></li> -->
							<!-- <li><a class="dropdown-item" href="#">Bitcoin</a></li> -->
							<!-- </ul> -->
							<!-- </li> -->
							<li class="nav-item">
								<a class="nav-link" href="#">Melange</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Hyfrac</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="project_btc_timeseries">Bitcoin prediction</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about">About</a>
							</li>
							<!-- Blaupause fuer disabled link -->
							<!-- <li class="nav-item"> -->
							<!-- <a class="nav-link disabled">Disabled</a> -->
							<!-- </li> -->

						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>


	<div class="row flex-nowrap">

		<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sticky-top"
			style="height:100vh; width: 200px; margin-top: 0; padding-top: 0; overflow: hidden;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi pe-none me-2" width="16" height="16" filter="invert(1)">
					<use xlink:href="#home" />
				</svg>
				<span class="fs-4">Home</span>
			</a>
			<hr>

			{% with state="active" %}
			<ul class="nav nav-pills flex-column mb-auto sticky-top">
				<li>
					<a href="#" class="nav-link text-white " aria-current="page">
						Dashboard
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white {{state}}">
						Orders
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						Products
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						Customers
					</a>
				</li>
			</ul>
			{% endwith %}


			<hr>

			<div class="dropdown">
				<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
					data-bs-toggle="dropdown" aria-expanded="false">
					<img src="{% static 'images/metaverse.svg' %}" style="filter: invert(1)" alt="" width="32"
						height="32" class="rounded-circle me-2">
					<strong>mdo</strong>
				</a>
				<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
					<li><a class="dropdown-item" href="#">New project...</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-9" id="main">

			{% block content %}

			{% endblock content %}

		</div>
	</div>
	</div>

	<script src="{% static 'bootstrap-js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>