<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Tills Dark Website</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  <style>
    body {
      background-color: #222;
      color: #ccc;
    }
    
    .navbar {
      background-color: #333;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    .navbar-light .navbar-nav .nav-link {
      color: #ccc;
    }
    
    .sidebar {
      background-color: #333;
    }
    
    .sidebar .nav-link {
      color: #ccc;
    }
    
  footer {
	background-color: #333;
	color: #ccc;
	text-align: center;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
  }
	
  </style>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Meine Seite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item"> 
			 <a class="nav-link" href="project_btc_timeseries">Bitcoin prediction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Melange</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hyfrac</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
			
			{% block sidebar %}
			
			{% endblock sidebar %}
          
          </ul>
        </div>
      </nav>
      
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        
        <div class="col-md-9" id="main">

			{% block content %}

			{% endblock content %}

		</div>	

      </main>
      
      
		
    </div>
  </div>

  
  <footer class="page-footer font-small cyan darken-3">
	  <center>
						--- &copy; 2023 <a href="mailto:alterfalter@duck.com">Till Sachau</a>. All Rights Reserved. ---
	  </center>
  </footer>      
	 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax

