<!DOCTYPE html>
<html lang="en">
	
{% load static %}
	
<head>
	
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Tills Website</title>

  <!-- load jquery, needed by bootstrap -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
    
  <!-- load bootstrap-css and js-->
  <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
  <!-- and mathjax.js -->
  <!-- this is a local mathjax, which works, but not perfectly. It is a fallback in case the remote mathjax is down -->
  <script type="text/javascript" id="MathJax-script" async src="{% static 'js/mathjax.js' %}"></script>
  <!-- this is a remote mathjax, which works perfectly -->
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>

  <style>
    body {
      background-color: #222;
      color: #ccc;
      padding-bottom: 25px;
    }

    .navbar {
      background-color: #333;
    }
    .navbar-light .navbar-nav .nav-link {
      color: #ccc;
    }
    .sidebar {
      background-color: #444;
      height: 100%;
      position: sticky;
      top: 70px; /* add top position to push the sidebar below the navbar */
    }
    .sidebar .nav-link {
      color: #ccc;
    }
    .hero-image {
      background-image: url("{% static 'images/biggo-bog.jpg'%}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
    }
    .hero-text {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 5px;
    }
    footer {
      background-color: #333;
      color: #ccc;
      text-align: center;
      padding: 5px;
      justify-content: center;
      align-items: center;
    }
    table {
      border-collapse: collapse;
      width: 80%;
      max-width: 900px;
      margin-bottom: 20px;
      margin-top: 10px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4;
      background-color: #222;
    }
    td {
      padding: 2px;
      padding-right: 30px;
      padding-left: 25px;
      <!-- width: auto; -->
      text-align: left;
      vertical-align: top;
      <!-- border: 1px solid #ddd; -->
    }
    :target::before {
      content: "";
      display: block;
      height: 70px;
      margin: -70px 0 0;
    }
    h2 {
      margin-top: 10px;
    }
    hr {
      height: 1px;
      background-color: #ccc;
      width: 50%;
      align: left;
      border: none;
      margin-left: 0px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .alert {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #888888;
      color: black;
      margin-bottom: 15px;
    }
    .sourceCode {
      color:rgb(175, 180, 179);
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .img-fluid-size-adapted {
      .img-fluid;
      max-width: 100%;
    }
    figcaption-size-adapted {
      figcaption;
      max-width: 75%;
      font-style: italic;
      text-align: center;
    }

  </style>
</head>

<body>

  <div class="hero-image">

  </div>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/#"><H4>Home</H4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav w-100 ml-auto  justify-content-end">

		  <li class="nav-item">
            <a class="nav-link" href="about" >About me</a>
          </li>

		  <li class="nav-item">
            <a class="nav-link" href="#" >Blog</a>
          </li>
        </ul>
                  
		<div class="dropdown show nav-item">
		  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Projects
		  </a>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="project_btc_timeseries_dashboard">Bitcoin rate prediction</a>
			<a class="dropdown-item" href="melange">Melange</a>
			<a class="dropdown-item" href="hyfrac">Hyfrac</a>
		  </div>
		</div>
	 
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">

			{% block sidebar %}
			
			{% endblock sidebar %}

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding: 15px; padding-bottom: 50px;">
		  		
			{% block content %}

			{% endblock content %}

      </main>
    </div>
  </div>
  
  <div class="row">
	<footer class="fixed-bottom">
			<p>--- &copy; 2023 <a href="mailto:alterfalter@duck.com">Till Sachau</a>. All Rights Reserved. ---</p>
	</footer>
  </div> 

</body>
